/* Reset default browser styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

/* Header styles */
header {
  background-color: #333;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  margin-left: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Landing section styles */
#landing {
  text-align: center;
  padding: 40px 0;
}

#landing img {
  width: 150px;
  border-radius: 50%;
}

#landing h2 {
  margin-top: 20px;
}

/* Projects section styles */
#projects {
  padding: 40px 0;
}

#projects h2 {
  text-align: center;
  margin-bottom: 20px;
}

.project-grid {
  padding-left: 7%;
  right: 0%;
  display: grid;
  align-self: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
  gap: 30px;
}

.projectCard {
  width: 350px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
}

.project-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Contact section styles */
#contact {
  padding: 40px 0;
}

#contact h2 {
  text-align: center;
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

form button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #555;
}

.projectCard img{
  max-width: 250px;
  max-height: 600px;
}

#contact{
  display: flex;
  justify-content: center;
}

#contact form{
  display: flex;
  width: 50%;
  /* justify-content: center; */
  flex-direction: column;
}
#contact form input,
#contact form textarea{
}
#contact form{
  align-content: center;
}